<html>
<head>
</head>
<body>
    <form id='myFirstForm'>
        <div id="rowcol">Rows:
            <input class="myForm" id="rows" size="2">Columns:
            <input class="myForm" id="cols" size="2">
            <input type="button" value="Submit" id="subrowscols">
        </div>
        <br>Enter a Student Name:
        <input class="myForm" id="studentName">
        <input type="button" value="Add" id='submitButton'>
        <br>Place Students:
        <input type="button" value="Place" id='placeStudents'>
        <input type="button" value="Shuffle" id='shuffle'>
    </form>
</body>
</html>